<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{page.title}}</title>
        <meta name="description" content="{{page.description}}">

        {{#if site.rss}}
          <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.rssLink }}" />
        {{/if}}

        <link rel="stylesheet" type="text/css" href="{{site.manifest.css.app}}" />
    </head>
    <body>
      {{{content}}}

      <script src="{{site.manifest.js.app}}"></script>
      {{#if site.serviceWorker}}
      <script>
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('{{ site.serviceWorkerLink }}');
          }
      </script>
      {{/if}}
    </body>
</html>
